.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #815B5B;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6.5rem;
  color: #937DC2;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 3%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 1.5rem;
}
.start {
  font-size: 2.5rem;
  background-color: #FFE9AE;
  font-weight:bold;
  border-radius: 8px;
}
.start:hover{
  background-color:#D1512D;
}
.button {
  margin-top: 60px;
}
